.search__box{
    width: 80%;
    background-color: aquamarine;
    margin: auto;
    padding: 10px;
    margin-top: 1rem;
    display: flex;
}

.search__box .search__box--input{
    width: 80%;
    padding: 10px;
    outline: none;
}

.search__box .search__box--btn{
    background-color: red;
    padding: 10px;
    color: white;
    width: 20%;
    border: 1px solid orangered;
}